---
---

<div class="bottom-bar">
  <div class="bottom-bar-left">
    <a href="javascript:void(0);" data-enable="false" title="上一页">
      <i class="fa fa-arrow-left"></i>
    </a>
    <a href="javascript:void(0);" data-enable="false" title="下一页">
      <i class="fa fa-arrow-right"></i>
    </a>
  </div>
  <div class="bottom-bar-right">
    <a href="javascript:void(0);" data-enable="false" id="site-toc-show-btn" title="目录">
      <i class="fa fa-bars"></i>
    </a>
    <a href="javascript:void(0);" data-enable="false" title="评论">
      <i class="fa fa-commenting"></i>
    </a>
    <a href="javascript:void(0);" id="site-toggle-share-btn" title="分享">
      <i class="fa fa-share-alt"></i>
    </a>
    <a href="javascript:void(0);" id="site-reward" title="赞赏">
      <i class="fa fa-thumbs-up"></i>
    </a>
    <a href="javascript:void(0);" id="back-top-btn" title="返回顶部">
      <i class="fa fa-chevron-up"></i>
    </a>
    <a href="javascript:void(0);" id="theme-toggle-btn" title="切换主题">
      <i class="fa fa-sun-o" id="theme-icon"></i>
    </a>
  </div>
</div>

<div id="share-btn">
  <a id="share-btn-twitter" href="javascript:void(0);" target="_blank" title="Share to X">
    <svg viewBox="0 0 1200 1227" fill="currentColor" style="width: 1em; height: 1em; vertical-align: middle; margin-top: -2px;">
      <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"></path>
    </svg>
  </a>
  <a id="share-btn-facebook" href="javascript:void(0);" target="_blank" title="Share to Facebook">
    <i class="fa fa-facebook"></i>
  </a>
</div>
