---
import BottomBar from '../components/BottomBar.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Layer from '../components/Layer.astro';
import SiteHead from '../components/SiteHead.astro';

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  isPost?: boolean;
  lock?: boolean;
  pageType?: string;
}

const props = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <SiteHead {...props} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <Layer />
    <BottomBar />
  </body>
</html>
